/* Base */

html, body, div, h1, a, img, ul, li, footer, header, nav, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-repeat: repeat,      no-repeat,      no-repeat;
    background-size: 100px 100px, cover,        cover;
    background-position: top left,    center center,    bottom center;
    background-attachment: fixed,      fixed,        fixed;
    background-color: #aba899;
}

a {
    color: inherit;
    text-decoration: none;
}
  
a:hover {
    color: #226c93;
}

p {
    margin: 0 0 1.5em 0;
    color: #226c93;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #226b93;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

/* Icons */

.icons {
    text-decoration: none;
    position: relative;
    border: 0;
}
  
.icons:before {
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
  
.icons > .label {
    display: none;
}
 
/* List */
  
ul {
    margin: 0 0 1.5em 0;
    padding-left: 1em;
    font-family: 'Courier New', Courier, monospace;
}
  
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
  
ul.icons li {
    display: inline-block;
    padding: 2em;
}
  
ul.icons li a {
    color: #226c93;
    position: relative;
    text-align: center;
    text-indent: 3.75em;
    font-size: 130%;
    border-color: #226b93;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;

}
  
ul.icons li a:hover {
    color: #5e9fbb;
    border-color: #5e9fbb;
}

ul.copyright li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-weight: bolder;
}

/* Wrapper */

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    z-index: 2;
}

#wrapper > * {
    z-index: 1;
}

#wrapper:before {
    content: '';
    display: block;
}

/* Main */

#main {
    position: relative;
    max-width: 100%;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em ;
    background: #e0dace;
    border-radius: 4px;
    text-align: center;
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

#main .avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #226c93;
}
  
#main .avatar img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #e0dace;
}

/* Footer */

#footer {
    align-self: flex-end;
    width: 100%;
    padding: 1.5em 0 1.5em 0;
    color: #226b93;
    cursor: default;
    text-align: center;
}
  
#footer .copyright {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
}
  
#footer .copyright li {
    display: inline-block;
    margin: 0 0 0 0.45em;
    padding: 0 0 0 0.85em;
    border-left: solid 1px #226b93;
    line-height: 1;
}
  
#footer .copyright li:first-child {
    border-left: 0;
}